tournaments/lib/**
logs/**
config/color.js
chat-plugins/trainercards.js
chat-plugins/animals.js
chat-plugins/card.js
chat-plugins/clans.js
chat-plugins/clearauth.js
chat-plugins/eztc.js
chat-plugins/customcolour.js
chat-plugins/dev.js
chat-plugins/emoticons.js
chat-plugins/friends.js
chat-plugins/icons.js
chat-plugins/leagueauth.js
chat-plugins/leagueshops.js
chat-plugins/lvl.js
chat-plugins/misc.js
chat-plugins/nerd.js
chat-plugins/nightclub.js
chat-plugins/poll.js
chat-plugins/roomrank.js
chat-plugins/scavengers.js
chat-plugins/shadow-ban.js
chat-plugins/slots.js
chat-plugins/vip.js
chat-plugins/warlic.js
chat-plugins/autorank.js
config/formats.js
config/avatars
lvl/*.js
migrate.js
mods/**
