tournaments/lib/**
logs/**
config/color.js
chat-plugins/trainercards.js
chat-plugins/card.js
chat-plugins/clans.js
chat-plugins/customavatar.js
chat-plugins/eztc.js
chat-plugins/nightclub.js
chat-plugins/lvl.js
chat-plugins/clans.js
config/formats.js
lvl/*.js
migrate.js
mods/**
