$c0: #0E3339;
$c1: #11484F;
$c8: #803C6F;
$cb: #BBCCC9;
$cf: #F3C5EA;

@mixin moveImg($img, $opa, $height, $width) {
  background:url($img);
  opacity: $opa !important;
  height: $height !important;
  width: $width !important;
  border-radius: 0;
  border-width: 0;
  box-shadow: none;
}

.ps-room.ps-room-opaque {
  background: rgba(51, 98, 81, 0.6);

  .battle {
    border-color: $c1 !important;

    .rightbar, .leftbar {
      background: rgba(51, 98, 81, 0.6);
      border-color: $c1;

      .trainer {
        strong {
          color: #E6FDFF;
          text-shadow: 0px -1px 0px $c1;
        }

        div {
          opacity: 1;
        }
      }
    }

    .turnstatus-protect {
      @include moveImg("http://i.imgur.com/RVxCoHz.png", 1, 103px, 150px);
    }

    .sidecondition-safeguard {
      @include moveImg("http://i.imgur.com/FrCoWCW.png", 0.6, 90px, 130px);
    }

    .sidecondition-reflect {
      @include moveImg("http://i.imgur.com/X1XDxVB.png", 0.7, 90px, 130px);
    }

    .sidecondition-lightscreen {
      @include moveImg("http://i.imgur.com/8eLftNA.png", 0.6, 90px, 130px);
    }

    #tooltipwrapper {
      text-align: left;
      color: $c1;
      text-shadow: 0px 0px 2px #96BFB8;
    }

    #tooltipwrapper .tooltip {
      width: 300px;
      background: $cb;    
      border-color: $c1;
      border-radius: 1px;
    }

    #tooltipwrapper .tooltip h2 {
      padding: 2px 4px;
      margin: 0;
      border-bottom: 1px solid $c1;
      font-size: 10pt;
      color: #0B2D32;
      text-shadow: 0px 0px 2px #96BFB8;
    }

    #tooltipwrapper .tooltip p {
      padding: 2px 4px;
      margin: 0;
      font-size: 8pt;
    }

    #tooltipwrapper .tooltip p.section {
      border-top: 1px solid $c1;
    }

    .backdrop {
      background: transparent url("http://i.imgur.com/Ly6TWVD.png?1") no-repeat scroll right top !important;
      opacity: 0.6;
    } 
  }

  .battle-log {
    background: rgba(255, 255, 255, 0.9);
    border-color: $c8;

    h2 {
      border-color: $c8;
      background: $cf;
      color: $c8;
      text-shadow: none;
      text-align: center;
    }

    h2:hover {
      color: #642F56;
    }

    .rated strong {
      border-color: $c8;
      background: $cf;
      color: $c8;
      text-shadow: none;
      border: 1px solid $c8;
      padding: 3px 6px;
    }

    .chat strong {
      color: $c8;
    }
  }

  .battle-log-add {
    border-color: $c8;
    background: $cf;

    .chatbox label {
      text-shadow: 0px 0px #E4B7DB;
    }

    .textbox {
      border-color: $c8;
    }
  }
}

.ps-room .battle-controls {
  background: rgba(255, 255, 255, 0.25) !important;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.battle-controls .whatdo {
  color: #111;
}

.battle-controls .whatdo small {
  border-color: #111;
}

.moveselect button, .switchselect button {
  color: $cb !important;
  text-shadow: 0px 0px 2px $c1 !important;
}

.moveselect button {
  background: url("http://i.imgur.com/GPzZsG1.png") center right no-repeat;
  background-position: right 14px;
  padding-right: 35px;
}

.switchselect button {
  background: url("http://i.imgur.com/d0UDk9G.png") bottom no-repeat;
  padding-right: 20px;
  background-position: right 14px;
}

.switchmenu button {
  background: $cb !important;    
  border-color: $c1 !important;
  color: $c1 !important;
  text-shadow: 0px 0px 2px #96BFB8 !important;
}

.switchmenu button:hover {
  background: $cb !important;    
  border-color: $c0 !important;
  color: $c0 !important;
  text-shadow: none !important;
}

.switchmenu button .hpbar {
  border-color: $c0;
}

.switchmenu button.disabled, .switchmenu button:disabled {
  background: #9BB6B1 !important;    
  border: 2px solid $c0 !important;
  color: $c0 !important;
  font-weight: bold !important;
  text-shadow: none !important;
}

.movemenu button:disabled {
  background: #9BB6B1;    
  border: 2px solid $c0;
  color: $c0;
  font-weight: bold;
  text-shadow: none;
}

.movemenu button:disabled .movemenu button small.pp, .movemenu button:disabled .movemenu button small.type {
  text-shadow: none;
  color: #164E57;
}

.movemenu button {
  border: 1px solid $c0 !important;
}