#lobby-userlist-user-masterfloat, #tournaments-userlist-user-masterfloat, #staff-userlist-user-masterfloat, #theomegaleague-userlist-user-masterfloat, #thebotlab-userlist-user-masterfloat, #staff-userlist-user-masterfloat {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/XP2BA5M.png") right no-repeat;
}

#lobby-userlist-user-fender, #development-userlist-user-fender, #casino-userlist-user-fender, #staff-userlist-user-fender {
  background: rgba(255, 255, 255, 0.65) url("http://cdn.bulbagarden.net/upload/e/e3/Cynthia_IV_OD.png") right no-repeat;
}

#cultofexcadrill-userlist-user-allegiantexca, #theallegiantleague-userlist-user-allegiantexca, #monotypeutoring-userlist-user-allegiantexca, #phoenixleague-userlist-user-allegiantexca {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/pokecons/645-therian.png") right no-repeat;
}

#lobby-userlist-user-austin, #development-userlist-user-austin, #casino-userlist-user-austin, #staff-userlist-user-austin, #therebelleague-userlist-user-austin {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/pokecons_action/446.gif") right no-repeat;
}

#lobby-userlist-user-princesshigh, #hayleysden-userlist-user-princesshigh, #zu-userlist-user-princesshigh, #voidleague-userlist-user-princesshigh {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/pokecons_action/282.gif") right no-repeat;
}

#lobby-userlist-user-cristiian, #tournaments-userlist-user-cristiian, #monotype-userlist-user-cristiian {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/4a7efMj.gif") right no-repeat;
}

#tournaments-userlist-user-resourceful {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/379.png") right no-repeat;  
}

#lobby-userlist-user-neosoul, #staff-userlist-user-neosoul, #voidleague-userlist-user-neosoul {
  background: rgba(255, 255, 255, 0.65) url("http://pokedream.com/pokedex/images/mini/202.gif") right no-repeat;  
}

#lobby-userlist-user-lttesla, #staff-userlist-user-lttesla, #sunyshorecity-userlist-user-lttesla {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/AfayGLZ.png") right no-repeat;
}

#lobby-userlist-user-notorangejuice, #staff-userlist-user-notorangejuice {
  background: rgba(255, 255, 255, 0.65) url("http://tiny-images.pokemonlake.com/Rotom%28Frost%29.gif") right no-repeat;
}

#lobby-userlist-user-impfallenblood, #thelegionofdoom-userlist-user-impfallenblood, #staff-userlist-user-impfallenblood {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/461.png") right no-repeat;
}

#upperstaff-userlist-user-masterfloat { 
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/XP2BA5M.png") right no-repeat;
}

#lobby-userlist-user-arkenciel, #staff-userlist-user-arkenciel {
  background: rgba(255, 255, 255, 0.65) url("http://sprites.pokecheck.org/icon/201.png") right no-repeat;
}

#lobby-userlist-user-aurastormlucario, #casino-userlist-user-aurastormlucario, #lucarioslair-userlist-user-aurastormlucario, #arcadia-userlist-user-aurastormlucario, #staff-userlist-user-aurastormlucario {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-dp/icon/448.gif") right no-repeat;
}

#lobby-userlist-user-japan, #japanslair-userlist-user-japan, #casino-userlist-user-japan, #tournaments-userlist-user-japan, #voidleague-userlist-user-japan {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/mpATs8Z.png") right no-repeat;
}

#lobby-userlist-user-phoenixsacred, #monotype-userlist-user-phoenixsacred, #allianceleague-userlist-user-phoenixsacred, #phoenixleague-userlist-user-phoenixsacred, #halloffame-userlist-user-phoenixsacred {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/sugimori/645-therian.png") right no-repeat;
}

#lobby-userlist-user-paulcentury, #theomegaleague-userlist-user-paulcentury, #overused-userlist-user-paulcentury {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/pokecons_action/080.gif") right no-repeat;
}

#lobby-userlist-user-chronologically, #1v1-userlist-user-chronologically, #voidleague-userlist-user-chronologically {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/QkhfELA.png") right no-repeat;
}

#lobby-userlist-user-theace22, #catchevolve-userlist-user-theace22, #othertiers-userlist-user-theace22 {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/059.png") right no-repeat;
}

#lobby-userlist-user-voidtrent, #voidleague-userlist-user-voidtrent, #alliancecup-userlist-user-voidtrent {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/037.png") right no-repeat;
}

#lobby-userlist-user-vinsteel, #tournaments-userlist-user-vinsteel, #othermetas-userlist-user-vinsteel, #psmd-userlist-user-vinsteel, #theheartlessleague-userlist-user-vinsteel {  
  background: rgba(255, 255, 255, 0.65) url("http://media.pldh.net/pokecons_action/212.gif") right no-repeat;
}

#lobby-userlist-user-lmaoitsbt, #thelotusleague-userlist-user-lmaoitsbt, #hayleysden-userlist-user-lmaoitsbt {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/pokecons_action/385.gif") right no-repeat;
}

#lobby-userlist-user-duttyvybz, #casino-userlist-user-duttyvybz, #japanslair-userlist-user-duttyvybz {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/052.png") right no-repeat;
}

#lobby-userlist-user-phoenixgryphon, #casino-userlist-user-phoenixgryphon, #staff-userlist-user-phoenixgryphon {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-dp/icon/396.gif") right no-repeat;
}

#lobby-userlist-user-selena, #casino-userlist-user-selena, #artshop-userlist-user-selena {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/L1kwV6j.png") right no-repeat;
}

#monotype-userlist-user-swltech, #swl-userlist-user-swltech, #casino-userlist-user-swltech, #tournaments-userlist-user-swltech {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/JE1MeGe.gif") right no-repeat;
}

#lobby-userlist-user-emgrfvolc, #staff-userlist-user-emgrfvolc, #theemergenceleague-userlist-user-emgrfvolc {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/721.png") right no-repeat;
}

#lobby-userlist-user-exotickey, #theomegaleague-userlist-user-exotickey, #hayleysden-userlist-user-exotickey {
  background: rgba(255, 255, 255, 0.65) url("http://pldh.net/media/pokecons_action/028.gif") right no-repeat;
}

#femalehq-userlist-user-katheyisme123, #lobby-userlist-user-katheyisme123, #casino-userlist-user-katheyisme123 {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/9C4khjv.gif") right no-repeat;
}

#lobby-userlist-user-chimechoo, #casino-userlist-user-chimechoo, #monotype-userlist-user-chimechoo, #thecarnieleague-userlist-user-chimechoo, #phoenixleague-userlist-user-chimechoo {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/280.png") right no-repeat;
}

#phoenixleague-userlist-user-phoenixtana, #lobby-userlist-user-phoenixtana, #monotype-userlist-user-phoenixtana {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/qKMupjd.png?1") right no-repeat;
}

#hingostraphouse-userlist-user-sariisaur, #phoenixleague-userlist-user-sariisaur, #theallegiantleague-userlist-user-sariisaur {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/6Ybg61Q.png") right no-repeat;
}

#lobby-userlist-user-chleg, #premierdraftdivision-userlist-user-chleg, #casino-userlist-user-chleg, #monotype-userlist-user-chleg {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/DunzDPZ.gif") right no-repeat;
}

#lobby-userlist-user-phoenixeien, #phoenixleague-userlist-user-phoenixeien, #hingostraphouse-userlist-user-phoenixeien {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/mCHbFVE.png") right no-repeat;
}

#lobby-userlist-user-pndas, #thelotusleague-userlist-user-pndas, #monotype-userlist-user-pndas, #casino-userlist-user-pndas, #halloffame-userlist-user-pndas {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/NcP1gJ1.gif") right no-repeat;
}

#lobby-userlist-user-gyaratoast, #breadsmash-userlist-user-gyaratoast, #squad-userlist-user-gyaratoast, #pokemonjourney-userlist-user-gyaratoast, #sotascapfun-userlist-user-gyaratoast  {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/OXs5rDM.png") right no-repeat;
}

#lobby-userlist-user-lotuswincon, #thelotusleague-userlist-user-lotuswincon, #thepandaclub-userlist-user-lotuswincon {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/s8pvxAi.gif") right no-repeat;
}

#lobby-userlist-user-swleric, #swl-userlist-user-swleric, #monotype-userlist-user-swleric {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-bw/icon/596.png") right no-repeat;
}

#lobby-userlist-user-swlconfluxx, #phoenixleague-userlist-user-swlconfluxx, #swl-userlist-user-swlconfluxx, #premierdraftdivision-userlist-user-swlconfluxx {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/720-u.png") right no-repeat;
}

#lobby-userlist-user-crystalxvz, #crystalleague-userlist-user-crystalxvz, #casino-userlist-user-crystalxvz, #1v1-userlist-user-crystalxvz {
  background: rgba(255, 255, 255, 0.65) url("http://imgur.com/PHgv3DL") right no-repeat;
}

#lobby-userlist-user-niisama, #staff-userlist-user-niisama, #artshop-userlist-user-niisama, #1v1-userlist-user-niisama {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/wM5E2W5.gif") right no-repeat;
}

#lobby-userlist-user-piscean, #hayleysden-userlist-user-piscean, #zu-userlist-user-piscean {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-rs/icon/230.gif") right no-repeat;
}

#lobby-userlist-user-hayleysworld, #hayleysden-userlist-user-hayleysworld, #zu-userlist-user-hayleysworld {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/Iss3eDr.png") right no-repeat;
}

#lobby-userlist-user-phoenixshady, #premierdraftdivision-userlist-user-phoenixshady, #phoenixleague-userlist-user-phoenixshady {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/3u9r8Zt.png?1") right no-repeat;
}

#lobby-userlist-user-starfox3, #staff-userlist-user-starfox3, #ossb-userlist-user-starfox3 {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/kuLIhtK.gif") right no-repeat;
}

#lobby-userlist-user-calucha, #alliance-userlist-user-calucha, #1v1-userlist-user-calucha {
  background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/499.png") right no-repeat;
}

#lobby-userlist-user-01ntg, #monotype-userlist-user-01ntg, #casino-userlist-user-01ntg {
  background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/w5laVDX.gif") right no-repeat;
}
