/*******************************
* IMPORTS - MIXINS - VARIABLES *
*******************************/

@import "customclasses";
@import "PMbox";
@import "icons";
@import "teambuilder";
@import "battle";

$c1: #11484F;
$c3: #336251;
$c8: #803C6F;
$c9: #96BFB8;
$cb: #BBCCC9;
$cc: #CD9FC4;
$cf: #FFE0A7;

@mixin broadcast($background, $brdclr, $shadow) {
  background: $background;
  border: 1px solid $brdclr;
  color: $brdclr;
  text-shadow: 0px 0px 2px $shadow;
  text-align: center;
  font-family: sans-serif;
  padding: 8px;
  margin: 5px;
}

@mixin roomicon($image) {
  background: rgba(255, 255, 255, 0.65) url($image) left no-repeat;
}

/************************************
* IMPORTS - MIXINS - VARIABLES ~end *
************************************/

/***********************
* Donation Benefit CSS *
***********************/
