  /*********************
  * Userlist Icons CSS *
  *********************/
  
  #lobby-userlist-user-masterfloat, #staff-userlist-user-masterfloat, #tournaments-userlist-user-masterfloat {
    background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/XP2BA5M.png") right no-repeat;
  }
  
  #lobby-userlist-user-fender, #development-userlist-user-fender, #casino-userlist-user-fender, #staff-userlist-user-fender {
    background: rgba(255, 255, 255, 0.65) url(http://cdn.bulbagarden.net/upload/e/e3/Cynthia_IV_OD.png) right no-repeat;
  }
  
  #tournaments-userlist-user-resourceful {
    background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/379.png") right no-repeat;  
  }
  
  #lobby-userlist-user-neosoul, #staff-userlist-user-neosoul, #voidleague-userlist-user-neosoul {
        background: rgba(255, 255, 255, 0.65) url("http://www.serebii.net/pokedex-xy/icon/202.png") right no-repeat;  
  }
  
  #lobby-userlist-user-lttesla, #staff-userlist-user-lttesla, #sunyshorecity-userlist-user-lttesla {
    background: rgba(255, 255, 255, 0.65) url("http://i.imgur.com/AfayGLZ.png") right no-repeat;
  }
  
  /**************************
  * Userlist Icons CSS ~end *
  **************************/
  
  /**************
  * General CSS *
  **************/
  
  body {
    background: url("http://i.imgur.com/aXop9m5.jpg") bottom left;
  }
  
  .ps-room.ps-room-light {
    background: rgba(0, 0, 0, 0);
    border-color: #11484F;
  }
  
  .ps-room.ps-room-light.scrollable {
    background: rgba(51, 98, 81, 0.6);
  }
  
  .chat.mine {
    background: rgba(0, 0, 0, 0);
  }
   .broadcast-blue {
    background-color: #CD9FC4;
    border: 1px solid #0B1361;
    color: #0B1361;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #D7F2FF;
  }
 
  .broadcast-blue a {
    color: #CD9FC4;
  }
 
  .broadcast-red {
    background-color: #FFB3B3;
    border: 1px solid #610B0B;
    color: #610B0B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #FFD7D7;
  }
 
  .broadcast-red a {
    color: #610B0B;
  }
 
  .broadcast-green {
    background-color: #C3FFB3;
    border: 1px solid #19610B;
    color: #19610B;
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
    margin: 5px;
    text-shadow: 0px -1px 0px #D8FFD7;
  }
 
  .broadcast-green a {
    color: #19610B;
  }
  
  /*******************
  * General CSS ~end *
  *******************/
  
  /*************
  * Header CSS *
  *************/
  
  .header {
    background: rgba(17, 72, 79, 0.6) url("http://i.imgur.com/A3wunN6.png?1") no-repeat;
  }
  
  .header .logo {
    opacity: 0;
  }
  
  .maintabbarbottom {
    border-color: #803C6F;
    background: #CD9FC4;
  }
  
  .tabbar a.button.notifying {
		background: #FFE0A7;
		border-color: #803C6F;
		color: #803C6F;
		text-shadow: none;
		font-style: italic;
	}
  
  .button.subtle-notifying {
    color: #803C6F;
	}

	.tabbar a.button.notifying:hover {
		background: #F9D990;
		border-color: #803C6F;
		color: #803C6F;
	}
  
  .tabbar a.button.cur, .tabbar a.button.cur:hover {
    border-color: #803C6F;
    background: #CD9FC4;
    color: #803C6F;
    text-shadow: 0px 0px 2px #FCE8F1;
  }
  
  .tabbar a.button {
    border-color: #803C6F;
    background: #F3C5EA;
    color: #803C6F;
    text-shadow: none;
  }
  
  .tabbar a.button:hover {
    background: #E5B6DC;
  }
  
  .tabbar .closebutton {
    color: #803C6F;
  }
  
  .tabbar .closebutton:hover {
    color: #AF3B3B;
  }
  
  .userbar button.icon {
    border: 1px solid #803C6F;
    background: #CD9FC4;
    color: #803C6F;
    text-shadow: 0px 0px 2px #FCE8F1;
  }
  
  .userbar button.icon:hover {
    background: #DBAED2;
  }
  
  .userbar .username {
    text-shadow: 1px 1px 0px #11484F, 1px -1px 0px #11484F, -1px 1px 0px #11484F, -1px -1px 0px #11484F;
  }
  
  /******************
  * Header CSS ~end *
  ******************/
  
  /*****************
  * Roomlist CSS *
  ***************/
  
  .roomlist h2 {
    color: #FEE2B3;
    text-shadow: 0px -1px 0px #11484F;
  }
  
  .roomlist a.ilink, .roomcounters button {
    background: #BBCCC9;    
    border-color: #11484F;
    color: #11484F;
    text-shadow: 0px 0px 2px #96BFB8;
  }
  
  .roomlist a.ilink:hover, .roomcounters button:hover {
    background: #BBCCC9;    
    border-color: #0E3339;
    color: #0E3339;
    text-shadow: none;
  }
  
  /********************
  * Roomlist CSS ~end *
  ********************/
  
  /***********
  * Chat CSS *
  ***********/
  
  .userlist {
    background: rgba(17, 72, 79, 0.6);
    border-color: #11484F;
    color: #11484F;
  }
  
  .userlist li {
    background: rgba(255, 255, 255, 0.65);
    border-color: #11484F;
  }
  
  .userlist li em.group {
    color: #11484F;
  }
  
  .userlist li button:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .infobox {
    border-color: #11484F;
  }
  
  .chat-log {
    background: rgba(255, 247, 251, 0.8) url("http://i.imgur.com/Tj9rEUu.png?1") top right no-repeat;
  }
  
  .chat-log .chat small {
    color: #11484F;
  }
  
  .chat-log .chat.mine.chat small {
    color: #0A292E;
  }
  
  .chat.highlighted {
    background: rgba(178, 215, 148, 0.7);
  }
  
  .chat-log-add {
    border-color: #336251;
    background: rgba(51, 98, 81, 0.6);
  }
  
  .chat-log-add .textbox {
    border-color: #336251;
  }
  
  .chatbox label {
    text-shadow: 0px 0px 2px #336251;
  }
  
  /****************
  * Chat CSS ~end *
  ****************/
  
  /*******************
  * Tournaments CSS *
  ******************/
  
  .tournament-title {
    background: rgba(17, 72, 79, 0.6);
    text-shadow: 0px -1px 0px #11484F;
    color: #AFCFD4;
  }
  
  .tournament-status, .tournament-toggle {
    background: rgba(255, 255, 255, 0.65);
    border-color: #11484F;
    text-shadow: none;
    color: #11484F;
  }
  
  .tournament-tools {
    border-color: #11484F;
    background: rgba(51, 98, 81, 0.6);
  }
  
  .tournament-tools .select {
    border-color: #11484F;
    background: #336251;
    color: #D9FCEF;
    text-shadow: 0px -1px 0px #11484F;
  }
  
  .tournament-tools .select:hover {
    background: #3D735F;
  }
  
  .tournament-tools .select:disabled {
    background: rgba(51, 98, 81, 0.45);
    color: #11484F !important;
  }
  
  .tournament-tools button {
    border-color: #11484F;
    background: #336251;
    color: #D9FCEF;
    text-shadow: 0px -1px 0px #11484F;
  }
  
  .tournament-tools button:hover {
    background: #3D735F;
  }
  
  .tournament-wrapper, .tournament-box {
    border-color: #11484F;
  }
  
  /***********************
  * Tournaments CSS ~end *
  ***********************/
  
  /**********************
  * Mainmenuwrapper CSS *
  **********************/
  
  .menugroup .button {
    
  }
  
  .pm-window h3 {
    border-color: #336251;
    background: rgba(51, 98, 81, 0.6) url("http://i.imgur.com/6fLZPHJ.png?1") bottom right no-repeat;
    background-position: 200px;
    color: #E5FFF6;
    text-shadow: 0px -1px 0px #336251;
  }
  
  .pm-window h3:hover {
    background: rgba(51, 98, 81, 0.6) url("http://i.imgur.com/6fLZPHJ.png?1") bottom right no-repeat;
    background-position: 200px;
    color: #CBEBE0;
  }
  
  .pm-window h3 small {
    color: #B2DBCD;
  }
  
  .pm-window.focused h3, .pm-window.focused h3:hover {
    border-color: #336251;
    background: rgba(51, 98, 81, 0.8) url("http://i.imgur.com/k1v7Evr.png?1") bottom right no-repeat;
    background-position: 200px;
    color: #E5FFF6;
    text-shadow: 0px -1px 0px #336251;
  }
  
  .pm-window h3:hover .minimizebutton, .pm-window h3 .closebutton, .pm-window h3 .minimizebutton {
    color: #D3F5E8;
  }
  
  .pm-window h3 .closebutton:hover {
    color: #F7A4A4;
  }
  
  .pm-window h3 .minimizebutton:hover {
    color: #F7D0A4;
  }
  
  .pm-window h3 .closebutton:hover + .minimizebutton {
    color: #D3F5E8 !important;
  }
  
  .message-pm {
    color: #46806A;
  }
  
  .pm-window h3.pm-notifying {
    border-color: #803C6F;
    background: #F3C5EA;
    color: #803C6F;
    text-shadow: none;
  }
  
  .pm-window h3.pm-notifying:hover {
    background: #E5B6DC;
  }
  
  .pm-window h3.pm-notifying .closebutton, .pm-window h3.pm-notifying .minimizebutton {
    color: #803C6F;
  }
  
  .pm-window h3.pm-notifying .closebutton:hover {
    color: #AF3B3B;
  }
  
  .pm-window h3.pm-notifying .minimizebutton:hover {
    color: #AF813B;
  }
  
  .pm-window h3.pm-notifying .closebutton:hover + .minimizebutton {
    color: #803C6F !important;
  }
  
  .pm-log, .pm-window.focused .pm-log {
    border-color: #336251;
  }
  
  .challenge {
    border-color: #803C6F;
    background: #F3C5EA;
    color: #803C6F;
    text-shadow: none;
  }
  
  .challenge .select {
    border-color: #803C6F;
    background: #CD9FC4;
    color: #803C6F;
    text-shadow: 0px 0px 2px #FCE8F1;
  }
  
  .challenge .select:hover {
    background: #DBAED2;
  }
  
  .challenge .select:disabled {
    background: rgba(205, 159, 196, 0.5);
  }
  
  .challenge .select.preselected, .challenge .select.preselected:disabled {
    color: #803C6F;
  }
  
  .challenge .buttonbar button {
    border: 1px solid #803C6F;
    background: #CD9FC4;
    color: #803C6F;
    text-shadow: 0px 0px 2px #FCE8F1;
    padding: 2px 5px;
  }
  
  .challenge .buttonbar button:hover {
    background: #DBAED2;
  }
  
  .pm-log-add {
    border-color: #336251;
    background: rgba(51, 98, 81, 0.6);
  }
  
  .pm-window.focused .pm-log-add {
    border-color: #336251;
    background: rgba(51, 98, 81, 0.75);
  }
  
  .pm-log-add .textbox {
    border-color: #336251;
  }
  
  .mainmenufooter a {
    color: #FFE1B3;
  }
  
  .mainmenufooter a:hover {
    color: #F2D19C;
  }
  
  .mainmenufooter {
    color: #F2D19C;
  }
  
  /***************************
  * Mainmenuwrapper CSS ~end *
  ***************************/
  
  /************
  * Popup CSS *
  ************/
  
  .ps-popup {
    background: #BBCCC9;    
    border-color: #11484F;
  }
  
  .ps-popup a {
    color: #11484F;
    text-shadow: 0px 0px 2px #96BFB8;
  }
  
  .ps-popup a:hover {
    color: #173B40;
  }
  
  .ps-popup .buttonbar button {
    background: #17626E;
    border: 1px solid #11484F;
    padding: 2px 5px;
    color: #BBCCC9;
    text-shadow: 0px -1px 0px #11484F;
  }
  
  .ps-popup .buttonbar button:hover {
    background: #1B545C;
  }
  
  .popupmenu h3 {
    color: #11484F;
    text-shadow: 0px 0px 2px #96BFB8;
  }
  
  .popupmenu button.sel {
    border-color: #11484F;
  }
  
  /*****************
  * Popup CSS ~end *
  *****************/
