/**************
* General CSS *
**************/
 
body {
        color: #FFF;
        background: #EEE url("http://i.imgur.com/UHK4rUz.jpg") no-repeat left fixed;
}
 
.ps-room.ps-room-light {
        background: rgba(0, 0, 0, 0);
}
 
.ps-room.ps-room-light.scrollable {            
        color: #0B1361;
        background-color: rgba(220, 255, 255, .8);
        background-image: url("http://i.imgur.com/wx7uLNy.png");
        background-position: bottom right;
        background-repeat: no-repeat;
        border-left: 1px solid #0B1361;
}
 
.closebutton, .minimizebutton {
        color: #0B1361;
}
 
.ps-overlay {
        background: rgba(0, 0, 0, 0.3);
}
 
.astext{
        border: none;
        background: none;
        padding:0;
        height: -20em;
        font-family:Verdana,sans-serif;
        font-size: 12px;
        cursor: pointer;
}
 
/*************
* Header CSS *
*************/
 
.header {
        height: 50px;
        background: rgba(220, 255, 255, .8) url("http://i.imgur.com/0VAXpy9.png") no-repeat;
}
 
.header .logo {
        float: left;
        margin: 2px 0 0 2px;
        display: none;
        opacity: 0;
}
 
.userbar button.icon {
        border: 1px solid #0B1361;
        background: #B3E6FF;
        color: #0B1361;
        text-shadow: none;
}
 
.userbar button.icon:hover {
        background: #7BD4FF;
}
 
.maintabbarbottom {
        background-color: #FFFFD5;
        border-color: #0B1361;
}
 
.tabbar a.button.subtle-notifying {
        border-color: #0B1361;
        background-color: #B3E6FF;
        text-shadow: none;
        color: #FF0200;
}
 
.tabbar a.button.subtle-notifying:hover {
        border-color: #0B1361;
        background-color: #82D6FF;
}
 
.tabbar a.button.notifying {
        background: #FFB2B2;
        border-color: #0B1361;
        color: #0B1361;
        text-shadow: none;
}
 
.tabbar a.button.notifying:hover {
        background: #FD9191;
        border-color: #0B1361;
        color: #0B1361;
}
 
.tabbar a.button.cur, .tabbar a.button.cur:hover {
        background-color: #FFFFD5;
        border-color: #0B1361;
        color: #0B1361;
}
 
.tabbar a.button {
        border-color: #0B1361;
        background: #B3E6FF;
        color: #0B1361;
        text-shadow: none;
}
 
.tabbar a.button:hover {
        background: #7BD4FF;
        border-color: #0B1361;
        color: #0B1361;
}
 
/***********
* Chat CSS *
***********/
 
.chat-log {
        background: url("http://i.imgur.com/vIYclIh.png");
        color: black;
}
 
.chat.mine {
        color: black;
        background: rgba(0, 0, 0, 0);
}
 
.chat-log-add {
        background: rgba(244,244,244,.8)
}
 
.userlist {
        background-color: rgba(244, 244, 244, 0.75);
}
 
.userlist li {
        background-color: rgba(244, 244, 244, 0.8);
}
 
.userlist li button:hover {
        background-color: rgba(244, 244, 244, 0.95);
}
 
.highlighted {
        background: #FFB2B2;
}
 
.chat small {
        color: #555;
}
 
.emote-chat {
        background: none;
        border: 0;
        padding: 0 5px 0 0;
        font-family: Verdana;
        font-size: 9pt;
}
 
.broadcast-blue {
        background-color: #B3E6FF;
        border: 1px solid #0B1361;
        color: #0B1361;
        font-family: sans-serif;
        padding: 5px;
        text-align: center;
        margin: 5px;
        text-shadow: 0px -1px 0px #D7F2FF;
}
 
.broadcast-blue a {
        color: #0B1361;
}
 
.broadcast-red {
        background-color: #FFB3B3;
        border: 1px solid #610B0B;
        color: #610B0B;
        font-family: sans-serif;
        padding: 5px;
        text-align: center;
        margin: 5px;
        text-shadow: 0px -1px 0px #FFD7D7;
}
 
.broadcast-red a {
        color: #610B0B;
}
 
.broadcast-green {
        background-color: #C3FFB3;
        border: 1px solid #19610B;
        color: #19610B;
        font-family: sans-serif;
        padding: 5px;
        text-align: center;
        margin: 5px;
        text-shadow: 0px -1px 0px #D8FFD7;
}
 
.broadcast-green a {
        color: #19610B;
}
 
.infobox {
        border: 1px solid #0B1361;
        padding: 6px 6px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 3px;
}
 
.message .result {
        border: 1px solid #0B1361;
        background: #F2F2F2;
}

.lemaclan {
        font-style: italic;
        font-size: 16px;
        text-align: center;
        margin-right: 5px
}
 
/*****************
* Tournament CSS *
*****************/
 
.tournament-title {
        background: url("http://i.imgur.com/IYrN5G8.jpg");
}
 
.tournament-bracket {
        font-size: 9pt;
        background: url("http://i.imgur.com/8M6x1je.png?4");
        border-top: 1px solid #AAA;
}
 
.tournament-popout-bracket {
        font-size: 9pt;
        background: url("http://i.imgur.com/IYrN5G8.jpg");
}
 
.tournament-bracket-tree-node-loss>rect {
        fill: rgba(255, 208, 217, 0.7);
}
 
.tournament-bracket-tree-node-win>rect {
        fill: rgba(191, 245, 155, 0.7);
        stroke: rgba(17, 142, 17, 0.5);
}
 
.tournament-bracket-tree-link {
        fill: none;
        stroke: #aaa;
}
 
.tournament-bracket-tree-link-active {
        stroke: #aa0;
        stroke-width: 3px;
}
 
.tournament-bracket-tree-node > rect {
        fill: rgba(225, 232, 242, 0.7);
        stroke: rgba(178, 183, 191, 0.7);
}
 
.tournament-bracket-tree-node-win > rect {
        fill: rgba(0, 255, 0, 0.2);
        stroke: rgba(0, 255, 0, 0.5);
}
 
.tournament-bracket-tree-node-draw > rect {
        fill: rgba(255, 255, 0, 0.2);
        stroke: rgba(255, 255, 0, 0.5);
}
 
.tournament-bracket-tree-node-loss > rect {
        fill: rgba(255, 0, 0, 0.2);
        stroke: rgba(255, 0, 0, 0.5);
}
.tournament-bracket-tree-node > text {
        font-size: 0.8em;
}
 
.tournament-bracket-tree-node > text > a {
        fill: #248;
}
 
.tournament-bracket-tree-node > text > a:hover {
        fill: #68c;
}
 
.tournament-bracket-tree-node-match-team {
        font-weight: bold;
}
 
.tournament-bracket-tree-node-match-team-draw, .tournament-bracket-tree-node-match-team-loss {
        fill: #aaa;
}
 
.tournament-status, .tournament-toggle {
        background: url("http://i.imgur.com/KHjlXIZ.png");
        color: #FFFFFF;
}
 
/*********************
* Mainmenuwraper CSS *
*********************/
 
.menugroup {
        color: #162D86;
        background-color: rgba(218,255,253,.45);
        text-shadow: 1px 1px 1px #C6F5F2;
}
 
.menugroup .button {
        background: url("http://i.imgur.com/KHjlXIZ.png");
        font-size: 12pt;
        font-family: sans-serif;
        color: #FFFFFF;
        border: solid 1px #00013C;
}
 
.menugroup .button:hover {
        background: #1F4367;
}
 
.select {
        font-family: sans-serif;
}
 
.mainmenufooter {
        background: #1F4367;
        padding: 5px;
        border: solid 2px #00013C;
}
 
.mainmenufooter a, .mainmenufooter {
        color: #FFF;
        text-shadow: 0px 0px 2px #00013C;
}
 
.pm-window h3, .pm-window.focused h3, .pm-window.focused h3:hover {
        border-color: #0B1361;
        background: #B3E6FF;
        color: #0B1361;
}
 
.pm-window h3:hover {
        border-color: #0B1361;
        background: #7BD4FF;
        color: #05092B;
}
 
.pm-window.focused h3, .pm-window.focused h3:hover {
        border-color: #0B1361;
        background: #B3E6FF;
        color: #05092B;
}
 
.pm-window h3 small {
        color: #FF0200;
}
 
.pm-log, .pm-window.focused .pm-log {
        border-color: #0B1361;
}
 
.pm-log-add {
        border-color: #0B1361;
        background: #B3E6FF;
}
 
.pm-window.focused .pm-log-add {
        background-color: #26A;
        border-color: #0B1361;
}
 
.pm-log-add .textbox {
        border-color: #0B1361;
}
 
.challenge {
        border-color: #0B1361;
        border-top: 1px solid #B3E6FF;
        background: #B3E6FF;
        color: #0B1361;
}
 
.pm-window h3.pm-notifying {
        background: #FFB2B2;
        border-color: #0B1361;
        color: #0B1361;
}
 
.pm-window h3.pm-notifying:hover {
        background: #FD9191;
        border-color: #0B1361;
        color: #0B1361;
}
 
.message-pm {
        color: #0B1361;
}
 
/***************
* Roomlist CSS *
***************/
 
.roomlist h2 {
        text-shadow: 0px -1px 1px #DDD;
}
 
.roomlist a.ilink {
        border: 1px solid #0B1361;
        color: #0B1361;
        background: #FBFBFB;
}
 
.roomlist a.ilink:hover {
        border: 1px solid #0B1361;
        color: #05092B;
        background: #F3F3F3;
}
 
.roomlist a.ilink small {
        color: #0B1361;
}
 
.roomcounters button {
    border: 1px solid #0B1361;
    color: #0B1361;
    background: #FBFBFB;
  }
  
 .roomcounters button:hover {
    border: 1px solid #0B1361;
    color: #05092B;
    background: #F3F3F3;
  }
 
/************
* Popup CSS *
************/
 
.ps-popup {
        background-color: #F3F3F3;
        border: 1px solid #202020;
        margin-top: 1px;
}
 
.popupmenu h3 {
        color: #0B1361;
}
 
.popupmenu button {
        color: #202020;
        background: none;
        border: none;
        text-shadow: none;
}
 
.popupmenu button:hover {
        background: #DDD;
}
 
.popupmenu button:hover, .popupmenu button.sel, .popupmenu button.sel:hover {
        border: 1px solid #202020;
}
 
.ps-popup a, .ps-popup a.ilink:hover {
        color: #0B1361;
}
 
.ps-popup b {
        color: #05092B;
}
 
.userdetails .offline {
        color: #FF0200;
}
 
.credits h2 {
        color: #FF0200;
}
 
a.subtle, a.subtle:hover, .credits ul li p {
        color: #0B1361;
}
 
/******************
* Teambuilder css *
******************/
 
.teambuilder-results {
        background: rgba(255, 255, 255, 0.55);
}
 
.teamchartbox {
        background: url("http://i.imgur.com/ILidCvo.jpg");
        text-shadow: none;
        border-top: 1px solid #0B1361;
}
 
.setchart {
        border: 1px solid #0B1361;
        background: url("http://i.imgur.com/qEW2a8L.png?2");
}
 
.setchart-nickname {
        border: 1px solid #0B1361;
        background: url("http://i.imgur.com/0jJJ5wL.png?1");
}
 
.setchart label, .setchart-nickname label {
        color: #FFF;
        text-shadow: 0px -1px 0px #0F1923;
}
 
.setchart input, .setchart-nickname input, .statform input.inputform, .setdetails, .setstats {
        border: 1px solid #0B1361;
        background: #F9F9F9;
}
 
.setchart input:hover, .setchart-nickname input:hover, .statform input.inputform:hover, .setdetails:hover, .setstats:hover {
        border: 1px solid #0B1361;
        background: #FFF;
}
 
.setchart .setdetails label, .setchart .setstats label {
        color: #000;
        text-shadow: none;
}
 
.teambuilder-results h3, .teambuilder-results .utilichart h3 {
        background: url("http://i.imgur.com/wlJoJrT.png?1");
        border-color: #0B1361;
        color: #FFF;
        text-shadow: 0px -1px 0px #0F1923;
}
 
.setmenu button:hover {
        border-color: #0B1361;
}
 
.teambar button {
        border-color: #0B1361;
        font-family: sans-serif;
}
 
.teambar button:hover {
        border-color: #0B1361;
}
 
.teambar button:disabled, .teambar button:disabled:hover, .teambar button:disabled:active {
        color: #000;
        background: rgba(240, 240, 240, 0.7);
        border-color: #0B1361;
        opacity: 1;
}
 
.utilichart {
        text-shadow: none;
}
 
.utilichart .movenamecol, .utilichart .pokemonnamecol, .utilichart .namecol {
        font-style: italic;
        color: #000;
}
 
.utilichart .statcol em, .utilichart .bstcol em, .utilichart .numcol, .utilichart .labelcol em, .utilichart .widelabelcol em, .utilichart .pplabelcol em {
        color: #777;
}
 
.utilichart .itemdesccol, .utilichart .abilitydesccol, .utilichart .movedesccol {
        color: #555;
}
 
.utilichart .abilitycol, .utilichart .statcol, .utilichart .col {
        color: #222;
}
 
.utilichart .typecol img {
        opacity: 0.75;
}
 
.utilichart b {
        color: #0B1361;
}
 
.teambuilder-results .firstresult a, .teambuilder-results .firstresult a:hover, .teambuilder-results .result a:hover {
        border-color: #0B1361;
}
 
.teambuilder-clipboard-container {
        border-color: #0B1361;
}
 
.teambuilder-clipboard-data, .teambuilder-clipboard-data:hover {
        background: url("http://i.imgur.com/jt4bXeo.png?1");
        border-color: #0B1361;
        color: #FFF;
        text-shadow: 0px -1px 0px #0F1923;
}
 
.teambuilder-clipboard-button-right, .teambuilder-clipboard-button-left, .majorbutton {
        background: url("http://i.imgur.com/jt4bXeo.png?1");
        border: 1px solid #0B1361;
        color: #FFF;
        text-shadow: 0px -1px 0px #0F1923;
}
 
.teambuilder-clipboard-button-right:hover, .teambuilder-clipboard-button-left:hover, .majorbutton:hover {
        background: #1F4367;
}
 
.statform, .detailsform {
        text-shadow: none;
        color: #000;
}
 
/*************
* Battle CSS *
*************/
 
.ps-room.ps-room-opaque {
        background-color: rgba(220, 255, 255, .8);
}
 
.battle-log {
        border-color: #0B1361;
}
 
.battle-log-add {
        border: 1px solid #0B1361;
        color: #0B1361;
        background: #FBFBFB;
}
 
.battle-log h2 {
        border-color: #0B1361;
        color: #0B1361;
        background: #FBFBFB;
}
 
.battle-log-add .textbox {
        border-color: #0B1361;
}
 
.moveselect button, .switchselect button {
        color: #0B1361;
        text-shadow: 0px -1px 0px #C1FDFD;
}
 
/*************
* Ladder CSS *
*************/
 
.ladder table, .ladder td, .ladder th {
        border: 1px solid #0B1361;
}
 
.ladder th {
        background: #B3E6FF;
}
 
.ladder td {
        background: rgba(179, 230, 255, 0.7);
}
